{% extends "base.html" %}

{% block windowtitle %}{{ article.title }}{% endblock %}
{% block content %}
<div>
	<div class='article'>
		<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
		<div class="well small">{% include "metadata.html" %}</div>
		<div>{{ article.content }}</div>
		<div>
			<h2>Comments</h2>
		 	{% include "twitter.html" %}
			{% if DISQUS_SITENAME %}<div id="disqus_thread"></div>{% endif %}
			{% if FACEBOOK_APPID %}<div class="fb-comments" data-href="{{ FQ_SITEURL }}/{{ article.url }}" data-num-posts="10" data-width="760"></div>{% endif %}
		</div>
	</div>	
</div>
{% endblock %}
